In [1]:
town = ("kiambu", "meru", "tala")
town

('kiambu', 'meru', 'tala')

In [6]:
1+1

2

In [7]:
2/3

0.6666666666666666

In [8]:
1==1

True

In [10]:
1==2

False

In [11]:
2.5==2+0.5

True

In [12]:
name1 = "Moringa"
name2 = "School"
School_name = name1 + " " + name2
print(School_name)

Moringa School

In [24]:
Mwiks_age = 20
Evans_age = 15
old = 18

Mwiks_age and Evans_age are "old"

SyntaxError: invalid syntax (<ipython-input-24-206e6de473fa>, line 5)

In [21]:
6 % 1

0

In [51]:
i=9

for i in range(5):
    print(i)
    
else:
    print ("unavailable")

0
1
2
3
4
unavailable

In [64]:
names=["Alex","Evans","Mwiks"]
for name in names:
    print(name)

Alex
Evans
Mwiks

In [67]:
names=["Vance","Evans","Mwiks"]
for name in names:
    print(name)

Vance
Evans
Mwiks

In [66]:
for name in names:
    name+= ".!"
    print(name)

Vance.!
Evans.!
Mwiks.!

In [81]:
for name in names:
    "hello" +=name
    print(name)

SyntaxError: cannot assign to literal (<ipython-input-81-881f4b7be788>, line 2)

In [ ]:
actions = ["run", "sleep", "laugh"]

print(actions)

In [1]:
countries = ["kenya", "uganda","tanzania"]
print(countries)

['kenya', 'uganda', 'tanzania']

In [3]:
countries[-1]

'tanzania'

In [4]:
countries[2]

'tanzania'